<!DOCTYPE html>
<html>
    <head>
        <title>Add Your Kamp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAZHutX56b68Q2e9yxGHneaINPpJrPFjinPZD5ogXHfvQ2XGDw">
        <!--jquery is here-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!--semantic ui is here-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <!--semantic javascript is here-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>
        <!--this is external stylesheet-->
        <link rel= "stylesheet" href="../addkamp.css">
    </head>
    <body>
        <% include partials/navbar.ejs%>
        <div class="container">
            <div class="header">
                <h1 class="ui huge header">Add your Kamp</h1>
            </div>
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <form method="POST" action="/kamping/addkamp" class="ui big form">
                        <div class="field">
                            <label>Kamp Name</label>
                            <input type="text" name="kamp[title]" placeholder="Kamp Name">
                        </div>
                        <div class="field">
                            <label>Image URL</label>
                            <input type="text" name="kamp[image]" placeholder="image url">
                        </div>
                        <div class="field">
                            <label>Discription</label>
                            <textarea name="kamp[discription]" rows="4" placeholder="Discription"></textarea>
                        </div>
                        <button class="btn btn-primary btn-md" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    </html>