
.field{
    font-size: 20px;
}
.bodyContainer{
    margin: 20px auto;
    padding: 20px;
}
.ui .form{
    padding: 20px;
    width: 90%;
    max-width: 450px;
    margin: 10px auto;
}
.ui .segments{
    width:90%;
    max-width: 700px;
}
.header{
    text-align: center;
}
.btn{
    outline: none;
}